/* Общие стили */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

h1, h2, h3 {
    margin-bottom: 20px;
    color: #2c3e50;
}

a {
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s ease;
}

a:hover {
    color: #2980b9;
}

/* Шапка (header) */
header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стили для логотипа */

header nav .logo img {
    max-height: 25px; /* Задайте максимальную высоту логотипа */
    vertical-align: middle; /* Выравнивание изображения по вертикали */
}


header nav .logo {
    display: flex; /* Для выравнивания логотипа с текстом в случае, если он обернут в ссылку */
    align-items: center;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    font-size: 1em;
    color: #777;
}

header nav ul li a:hover {
   color: #333;
}


/* Основное содержание (main) */
main {
    padding: 40px 0;
}

section {
    margin-bottom: 40px;
}

.hero {
    background: linear-gradient(135deg, #3498db, #2ecc71);
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #3498db;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
   background-color: #eee;
}


.about {
    text-align: center;
    padding: 40px 0;
}

.services {
    padding: 40px 0;
}

.services .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-card {
    width: 30%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.contact {
    text-align: center;
    background-color: #f0f0f0;
    padding: 40px 0;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact form input, .contact form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;

}

.contact form textarea {
    height: 150px;
}


/* Подвал (footer) */
footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}